* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  

  .container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    background: #AA076B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #61045F, #AA076B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #61045F, #AA076B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  h2 {
    color: snow;
  }


  .choices__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .user__wrapper {
    border: 5px solid #48D1CC;
    border-radius: 25px;
    padding: 10px;
    width: auto;
    font-size: 1.2rem;
  }

.computer__wrapper {
    border: 5px solid #48D1CC;
    border-radius: 25px;
    padding: 10px;
    width: auto;
    font-size: 1.2rem;
  }

  .button__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }

  button {
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    border-style: none;
    background-color: #8B008B;
    color: #FF1493;
    font-size: 1.5rem;
    font-weight: bolder;
  }

  button:hover {
    background-color:#C71585;
    color: #fff;
  }


  @media screen and (max-width: 780px)  {
    .choices__wrapper {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    }
  }